<%include partials/header.ejs%>
<div class="row text-center">
        <h1><%=campground.name%></h1>
    <img src="<%=campground.image%>" alt="pic">

        <p><%=campground.description%></p>
</div>



<%include partials/footer.ejs%>
